In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
cc_data = pd.read_csv('creditcard.csv')

In [3]:
#Elapsed Time First Column
#Amount is in US Dollars
cc_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
cc_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
cc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
#check the number of missing values in each column
cc_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#distribution of legit transaction(0) and fraudalent transaction(1)
cc_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [ ]:
#This dataset is highly unbalanced as label 0(normal transactions) 
#is almost more than 99% of data hence we can't put the data in our model like this so we will need to do some preprocessing.

In [8]:
legit = cc_data[cc_data.Class==0]
fraud = cc_data[cc_data.Class==1]

In [9]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
#statiscal meseaures of the data

In [11]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
#for all the fraud activities the mean Amount is more than legit activities.

In [15]:
#Compare the values for both transactions
cc_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [16]:
#Under-Sampling
#Here we will build a sample dataset from the original dataset containing 
#similliar distribution of normal transactions and fraudalent transactions.
#Number of fraudalent transactions -> 492.

In [17]:
legit_sample = legit.sample(n=492)#will take random 492 legit values

In [18]:
#Now we will concatenate two df's the fraudalent one and the new random legit one(legit sample)
new_data = pd.concat([legit_sample,fraud],axis = 0)

In [19]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
252233,155715.0,1.547389,-1.208744,-0.572950,0.400351,-1.018146,-0.508847,-0.299318,-0.146348,1.451966,...,0.316743,0.652080,-0.094001,-0.045324,-0.225951,0.106009,-0.026449,-0.001478,244.48,0
17813,28935.0,-0.684161,0.515467,2.110644,1.669266,-0.534963,0.288704,0.349257,0.125496,0.169337,...,0.078453,0.616318,0.060604,0.642470,-0.289526,-0.236095,0.124327,0.152484,65.00,0
82390,59382.0,1.051054,-0.756808,0.645284,0.418476,-0.909144,0.440382,-0.753933,0.230575,-0.953712,...,-0.132293,-0.121654,-0.090483,-0.349225,0.275605,-0.275963,0.059536,0.037068,108.00,0
87504,61715.0,-2.380021,-1.268134,1.478371,-2.066850,0.107836,-0.678986,-0.528725,0.630468,1.632769,...,0.186866,0.290624,-0.320215,-0.333381,0.963460,0.086292,0.184460,-0.170810,104.00,0
96207,65659.0,-5.576185,-6.435046,2.438557,1.537200,4.856318,-1.706491,-3.693940,0.961225,0.886634,...,0.218604,0.004756,1.031994,-0.534008,-0.044608,1.173709,-0.558590,1.262944,99.94,0

In [20]:
new_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [21]:
new_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [22]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97180.571138,0.024963,0.028213,0.010116,-0.025474,0.009581,0.082074,-0.013622,0.011249,0.025471,...,-0.017988,0.045569,-0.001679,0.056317,0.040653,-0.015093,-0.005547,0.033490,0.011007,84.926423
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [23]:
#It shows that the distance is still there in the new dataset between both fraud and legit transactions hence good dataset.
#Very important to check whether we got a good sample or bad sample.

In [24]:
X = new_data.drop(columns = 'Class',axis = 1)
Y = new_data['Class']

In [25]:
print(X)# Now we dont have our class column in the dataset

            Time        V1        V2        V3        V4        V5        V6  \
252233  155715.0  1.547389 -1.208744 -0.572950  0.400351 -1.018146 -0.508847
17813    28935.0 -0.684161  0.515467  2.110644  1.669266 -0.534963  0.288704
82390    59382.0  1.051054 -0.756808  0.645284  0.418476 -0.909144  0.440382
87504    61715.0 -2.380021 -1.268134  1.478371 -2.066850  0.107836 -0.678986
96207    65659.0 -5.576185 -6.435046  2.438557  1.537200  4.856318 -1.706491
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
252233 -0.299318 -0.146348  1.451966  ...  0.298347  0.316743  0.652080
17813   0.349257  0.125496  0.169337  ... -0.041865  0.078453  0.616318
82390  -0.753933  0.230575 -0.953712  ... -0.367762 -0.132293 -0.121654
87504  -0.528725  0.630468  1.632769  ...  0.647689  0.186866  0.290624
96207  -3.693940  0.961225  0.886634  ...  0.923905  0.218604  0.004756
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
252233 -0.094001 -0.045324 -0.225951  0.106009 -0.026449 -0.001478  244.48
17813   0.060604  0.642470 -0.289526 -0.236095  0.124327  0.152484   65.00
82390  -0.090483 -0.349225  0.275605 -0.275963  0.059536  0.037068  108.00
87504  -0.320215 -0.333381  0.963460  0.086292  0.184460 -0.170810  104.00
96207   1.031994 -0.534008 -0.044608  1.173709 -0.558590  1.262944   99.94
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [26]:
print(Y) # the class column is stored here in Y

252233    0
17813     0
82390     0
87504     0
96207     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [27]:
#now split the data into testing and training data.

In [28]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify = Y,random_state = 2)

In [29]:
print(X_train.shape,X_test.shape) #80% of data goes in X_train and 20% into X_test

(787, 30) (197, 30)

In [32]:
#logisticRegressiontraining
model = LogisticRegression(max_iter=1000)

In [35]:
#training logisticregression model with training data
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline

scaler = StandardScaler()
model = LogisticRegression(max_iter=1000)
pipeline = make_pipeline(scaler, model)

pipeline.fit(X_train, Y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [36]:
#Model Evaluation

In [37]:
#Based on Accuracy Score (Accuracy on training data)
X_train_pred = pipeline.predict(X_train)  #predicting labels for training data
training_data_accuracy = accuracy_score(X_train_pred,Y_train) #and then comparing them to original values in Y_train
print('Accuracy on training data: ',training_data_accuracy)

Accuracy on training data:  0.9529860228716646

In [38]:
#we got accuracy score of 95.2%

In [39]:
X_test_pred = pipeline.predict(X_test)
test_data_accuracy = accuracy_score(X_test_pred,Y_test)
print('Accuracy on test data: ',test_data_accuracy)

Accuracy on test data:  0.9187817258883249

In [40]:
#the score is 91.87%